#body-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fcf8e3;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 80%;
    height: auto;
    margin: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#nav-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    background-color: #122b40;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

#page-title {
    font-size: 30px;
    color: #a6e1ec;
    height: 40px;
    border-bottom: 1px solid #a6e1ec;
    text-align: center;
    margin-bottom: 20px;
}

#nav {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#nav > li {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px dashed #a6e1ec;
}

#nav > li > a {
    color: #fafafa;
    text-decoration: none;
    font-size: 20px;
}
#nav > li:hover{
    background: #2e6da4;
}

#mainContainer {
    margin-left: 25%;
    padding: 0 10px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 30px;
}
a.active {
    background-color: #2e6da4;
}