
#body-wrapper{
    width: 100%;
}

#nav-bar{
    position:fixed;
    width: 20%;
    display:flex;
    flex-direction: column;
    border-right: 1px solid #5a6268;
}

#page-title{
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-bottom: 1px dashed #5a6268;
    height: 50px;
}
 #nav{
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 100vh;
     overflow-y:auto ;
     overflow-x:hidden ;
 }
 #nav > li{
     list-style: none;
     padding:10px;
     width: 100%;
     text-align: center;
 }
 .nav-link{
     text-decoration: none;
     color: #1b1e21;
     font-size: 20px;
 }
#nav-bar > #footer{

}
#main-container{
    width: 70%;
    height: 100%;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.content > h1{
    font-size: 30px;
}
.content > p{
    font-size:16px;
}

